{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/sidebar.css">
{% endblock %}

{% block content %}
  <div id="scroll__container">
    <ul>
      <li class="cat__item"><a href="/">All Products</a></li>
      <li class="cat__item"><a href="/categories/original">T-wrap original</a></li>
      <li class="cat__item"><a href="/categories/bracelets">T-wrap bracelets</a></li>
      <li class="cat__item"><a href="/categories/flowers">T-wrap flowers</a></li>
      <li class="cat__item"><a href="/categories/pearls">T-wrap pearls </a></li>
    </ul>
  </div>


{% endblock %}
