{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/sidebar.css">
{% endblock %}

{% block content %}
  <div id="scroll__container">
    <ul>
      <!-- <li class="cat__item"><a href="/">All Products</a></li> -->
      <li class="cat__item"><a id="{{ 'active2' if '/blog/feather' in page.url }}" href="/blog/feather">T-wrap feather</a></li>
      <li class="cat__item"><a id="{{ 'active2' if '/blog/pearls' in page.url }}" href="/blog/pearls">T-wrap pearls </a></li>
      <li class="cat__item"><a id="{{ 'active2' if '/blog/flowers' in page.url }}" href="/blog/flowers">T-wrap flowers</a></li>
      <li class="cat__item"><a id="{{ 'active2' if '/blog/bracelets' in page.url }}" href="/blog/bracelets">T-wrap bracelets</a></li>
    </ul>
  </div>


{% endblock %}
