{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <ul class="image-list-small">
    {% for post in collections.bracelets %}
    <li>
      <a href="/{{post.data.permalink}}" style="background-image: url(/{{post.data.featuredimage}});"></a>
      <div class="details">
        <h3><a href=/"{{post.data.permalink}}"></a>{{post.data.title}}</h3>
        <p class="image-author">{{ post.data.tags }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
