{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/instructions.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="instructions__container">
    <h3> Information </h3>
   <p> T-wraps are handmade in 100% cotton.
    <br>
    Comes in packages of 10 pieces of the same design</p>
    <br>
    <h4>Instruction video</h4>
      <div style="padding:177.78% 0 0 0;position:relative;">
        <iframe id="instruction__video" src="https://player.vimeo.com/video/729168590?h=a1efe856b7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:70%;height:70%;" title="IMG_6290.MOV"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
</div>

{% endblock %}
