{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/information.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="information__container">
    <h3> Information </h3>
    <p class="information__guide">
      T-wrap hårfletningen er en håndlavet fletning, der bliver siddende i håret i ugevis og bringer minderne videre fra en festlig dag. Vi kommer med et stort sortiment i masser af farver.
      Denne type er verdens mest solgte fletning.
      Ansigtsmaling er et super godt supplement til hårfletninger.
    </p>
    <br>
    <h4>Instruction video</h4>
  </div>
</div>
{% endblock %}
