{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/order.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="order__container">
    <h3> How to order </h3>
    <p class="information__guide">
     1. Everything is packed by 10 pieces per package.
      <br>
     2. We recieve your order and will process it fast as possible.
      <br>
     5. Shipped with fedex in 3-5 days.
    </p>
  </div>


</div>
{% endblock %}
