{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/order.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="order__container">
    <h3> How to order </h3>
    <p class="information__guide">
     1. Send us an  <a href="mailto:sales@t-wrap.info">email</a> with all the product numbers you would like to order
    <br><br>
     Example:
    <br>
     1 x TW 01<br>
     5 x TW 33<br>
     11 x B 01<br>
     <br>
     2. Everything is packed by 10 pieces per package.
     <br><br>Example: <br>
     1 x TW 01 = 10 pieces of TW 01 Twrap feather
      <br><br>
     3. We recieve your order and will process it fast as possible.
      <br>
     4. Shipped with fedex in 3-5 days.
    </p>
  </div>


</div>
{% endblock %}
