{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/information.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="information__container">
    <h3> How to order </h3>
    <p class="information__guide">
     You make an order by placing every product into the basket and do a checkout.
     No payment will be asked in this process.
    </p>
  </div>


</div>
{% endblock %}
