{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/tools.css">

{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="tools__container">
    <h3> Tools </h3>
    <p class="information__guide">
      The hook is for pulling a small portion of hair through the metal tube on the T-wrap. <br>
      The plier is used to squeeze the metal tube around a small portion of hair in order to attach the T-wrap in the hair.
      <br>
      If needed please add the quantity of pliers and hooks to the order.
      <br>
      <br>
    </p>
        <img src="/assets/images/instructions/hooks_pliers.jpg" alt="" height="500px">
</div>

{% endblock %}
