{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/instructions.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <div class="information__container">
    <h3> Tools </h3>
    <p class="information__guide">
      The hook is for pulling a small portion of hair through the metal bracket on the T-wrap. <br>
      The plier is used to squeeze in the metal bracket around the small portion of hair, in order to secure the T-wrap in the hair.
      <br>
      <br>
      Please add how many units of pliers and hooks you need in the textfield on checkout.
    </p>
        <img src="/assets/images/instructions/100.jpg" alt="" height="500px">
</div>

{% endblock %}
