.post__container {
  display: flex;

}

.post__content {
  margin: 0 auto;
  max-width: 1200px;
}

.snipcart-add-item {
  padding: 2px 5px;
  background-color: white;
  color: black;
}

p {
  font-size: 20px;

}

img {
  max-width: 100%;
  padding-left: 5px;

}

.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  border: 1px solid #444;
  padding: 10px;
  flex: 1 1 200px;
  min-width: 1px;
  margin-top: 20px;
}

.box2 {
  flex: 700px;
}


.box3 {
  flex: 500px;

}
