{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/global.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="blog__container">
  {% include "sidebar.html" %}
  <ul class="image-list-small">
    {% for post in collections.posts %}
    <li> <h4 class="tag__blog__title"> {{ post.data.tags }}</h4>
      <a href="#" style="background-image: url(/{{post.data.featuredimage}});"></a>
      <div class="details">
        <h3><a href="{{post.data.url}}"></a>{{post.data.title}}</h3>
        <p class="image-author">{{ post.data.author }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
