{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/post.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="post__container">
  {% include "sidebar.html" %}
    <article class="post__content">
      <h3 class="post__title">{{title}}</h3>
      <br>
      <div class="boxes">
        <div class="box box3">
          <img id="post__img" src="/{{featuredimage}}" alt="" height="700px">
        </div>
        <div class="box box2">
          <h3>Description</h3>
            <p class="product__decription">
              {{description}}
            </p>
            <br>
            <!-- <p>
            <button class="snipcart-add-item"
              data-item-id="T-wrap"
              data-item-price="0"
              data-item-description="{{  description }}"
              data-item-image="/{{  featuredimage }}"
              data-item-name="{{  title  }}">
              Add to cart
          </button>
          </p> -->
        </div>
      </div>
    </article>
    {% endblock %}
</div>
