{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/css/post.css">
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<div class="post__container">
  {% include "sidebar.html" %}
  <article class="post__content">
    <h2>{{title}}</h2>
    <p class="post__description">{{author}} {{info}}</p>
    <br>
    <p class="post__description">{{description}}</p>
    <p class="post__link"><a target=”_blank” href="{{url}}">Køb Bogen</a></p>

    <div class="boxes">
      <div class="box box1">
        <img src="/assets/images/1.jpeg" alt="">
        <img src="/assets/images/2.jpeg" alt="">
      </div>
      <div class="box box2">
        <img src="/assets/images/3.jpeg" alt="">
        <p>
          Né en 1964, à Aylesbury, Angleterre. Vit et travaille à New York et Londres.
          Liam Gillick questionne les structures et architectures qui nous entourent et modèlent nos comportements. Ses oeuvres, en apparence fonctionnelles, sont des espaces potentiels, des plateformes destinées à accueillir tout type de relation interhumaine. Il interroge également avec humour l’utilité, la fonction réelle de l’art et de ses formes dans notre société, qui devient dans sa pratique davantage un lieu de réflexion, de débat et de discussion.        </p>
      </div>
      <div class="box box3">
        <img src="/assets/images/4.jpeg" alt="">
      </div>
    </div>
  </article>
</div>
{% endblock %}
