.post__container {
  display: flex;
}

.post__content {
  margin-left: 94px;
  max-width: 1200px;
}

.snipcart-add-item {
  padding: 2px 5px;
  background-color: white;
  color: black;
}

p {
  font-size: 20px;
}

.post__title {
  display: inline-block;
  /* background-color: #d8e3f7; */
  background-color: white;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 4px
}

.post__description {
  display: inline-block;
  background-color: #fddb6c;
  padding-left: 2px;
  padding-right: 4px;
  color: rgb(94, 86, 249);
}


@media (max-width: 800px) {
  .boxes {
    display: flex;
    flex-direction: column;
  }

  .post__description {
  flex-direction: column;
  }

  .post__title {
    flex-direction: column;
  }
  #post__img {
    width: 300px;
  }

  .box3 {
    flex: 1px;
  }
}


.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  padding-right: 20px;
  flex: 1 1 200px;
  min-width: 1px;
  margin-top: 0px;
}

.box2 {
  flex: 700px;
}


.box3 {
  flex: 500px;
}
