.navigation {
max-width: 800px;
margin-bottom: 50px;
}

.navigation__list {
  display: grid;
  grid-template-columns: 1fr repeat(3, fit-content(60px));
  grid-gap: 20px;
  justify-items: end;
}

.fullwidth {
  grid-column: 1 / 2;
  justify-self: start
}

.nav__item {
  list-style: none;
}

.navigation__list > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
