.navigation {
max-width: 800px;
margin-bottom: 50px;
}

.navigation__list {
  display: grid;
  grid-template-columns: 1fr repeat(4, fit-content(60px)) 1fr;
  grid-gap: 20px;
  justify-items: end;
}

@media (max-width: 600px) {
  .navigation__list {
    display: block;
   min-width: 150px;
    }
  }


.fullwidth {
  grid-column: 1 / 2;
  justify-self: start;
  /* font-family: 'Gochi Hand', cursive; */
}

.nav_card {
  justify-self: end;
  margin-right: 10px;;
}

.nav__item {
  list-style: none;
}

.navigation__list > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}



a {
  text-decoration: none;
  font-weight: bold;
   /* font-family: 'Gochi Hand', cursive; */
}

#active {
  color: rgb(255, 151, 236);
  /* text-decoration: underline 2px;
  color: pink;
text-underline-offset: 2px; */
}
