#scroll__container {
  height: 80%;
  min-width: 150px;
  margin-bottom: 2rem;
}

#scroll__container_2 {
  height: 80%;
  min-width: 150px;
}

@media only screen and (max-width: 600px) {
  #scroll__container {
    /* position: fixed; */
  }
}

#active2 {
  /* color: #f0c330; */
  color: #8987a8;
}
